h1 {color: midnightblue; border: aqua; alignment: center}
h2 {color: midnightblue; text-underline: aqua; alignment: left}
h3 {color: midnightblue; border-style: dot-dash; alignment: left }

p {font-size: 30px; size: A4; }

