img {background-color: aliceblue; height: 200px; width: 350px;}
p {color: midnightblue; background-color: antiquewhite; text-align: center}
h1 {text-align: center; color: midnightblue; text-decoration: overline}
h2 {text-align: left; color: cornflowerblue}